/*
 * Lily58 programmer QWERTY keymap with a dedicated gaming layer.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define SYM 1
#define NAV 2
#define GAME 3

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
                // ------------------------------------------------------------------------------------------------------
                // | ESC  |  1  |  2  |  3  |  4  |  5  |          |  6  |  7  |  8  |  9  |  0  |  `   |
                // | TAB  |  Q  |  W  |  E  |  R  |  T  |          |  Y  |  U  |  I  |  O  |  P  |  -   |
                // | SHFT |  A  |  S  |  D  |  F  |  G  |          |  H  |  J  |  K  |  L  |  ;  |  '   |
                // | STSH |  Z  |  X  |  C  |  V  |  B  |  [  |  ]  |  N  |  M  |  ,  |  .  |  /  | SHFT|
                //                     | ALT | GUI | SYM | SPC |  | ENT | NAV | BSPC| GUI |
                &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                         &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp GRAVE
                &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T                          &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS
                &kp LSHFT     &HMR LGUI A   &HMR LALT S   &HMR LSHFT D   &HMR LCTRL F   &kp G                          &kp H         &HMR RCTRL J  &HMR RSHFT K  &HMR RALT L   &HMR RGUI SEMI &kp SQT
                &sk LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B        &kp LBKT    &kp RBKT    &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
                                                              &kp LALT      &kp LGUI      &mo SYM      &kp SPACE     &kp RET      &mo NAV      &kp BSPC      &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        sym_layer {
            display-name = "Symbols";
            bindings = <
                // ------------------------------------------------------------------------------------------------------
                // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |          |     |     |     |     |     |     |
                // | BRI- | BRI+| F3  | F4  | F5  | F6  |          | F7  | F8  | F9  | MUTE| VOL- | VOL+|
                // | SHFT |  !  |  @  |  #  |  $  |  %  |          |  ^  |  &  |  *  |  (  |  )  |  ~  |
                // |  `   |  ~  |  \  |  |  |     |     |     |     |  -  |  _  |  =  |  +  |  {  |  }  |
                //                     |     |     |     |     |  |     |     |     |     |
                &bt BT_CLR    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                    &trans       &trans       &trans       &trans       &trans       &trans
                &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &kp F3 &kp F4 &kp F5 &kp F6                         &kp F7       &kp F8       &kp F9       &kp C_MUTE  &kp C_VOLUME_DOWN &kp C_VOLUME_UP
                &kp LSHFT     &kp EXCL     &kp AT        &kp HASH     &kp DLLR      &kp PRCNT                    &kp CARET    &kp AMPS     &kp ASTERISK  &kp LPAR     &kp RPAR     &kp TILDE
                &kp GRAVE     &kp TILDE    &kp BSLH      &kp PIPE     &trans       &trans       &trans       &trans       &kp MINUS   &kp UNDER    &kp EQUAL    &kp PLUS     &kp LBRC    &kp RBRC
                                                              &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        nav_layer {
            display-name = "Numbers and Nav";
            bindings = <
                // ------------------------------------------------------------------------------------------------------
                // | GAME |     |     |     |     |     |          |     |     |     |     |     |     |
                // |  `   |  1  |  2  |  3  |  4  |  5  |          |  6  |  7  |  8  |  9  |  0  |     |
                // | SHFT | C-A | C-C | C-V | C-X | C-Z |          | R-Z |  <- |  v  |  ^  |  -> |     |
                // | CAPS |     |     |     |     |     |     |     | WDEL| HOME| END | PGUP| PGDN| DEL |
                //                     |     |     |     |     |  |     |     | WDBS|     |
                &to GAME      &trans       &trans       &trans       &trans       &trans                         &trans       &trans       &trans       &trans       &trans       &trans
                &kp GRAVE     &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                         &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &trans
                &kp LSHFT     &kp LG(A)    &kp LG(C)    &kp LG(V)    &kp LG(X)    &kp LG(Z)                      &kp LG(LS(Z)) &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans
                &caps_word    &trans       &trans       &trans       &trans       &trans       &trans       &kp LA(DEL) &kp HOME   &kp END      &kp PG_UP    &kp PG_DN    &kp DEL      &trans
                                                              &trans       &trans       &trans       &trans       &trans       &trans       &kp LA(BSPC) &trans
            >;
        };

        game_layer {
            display-name = "Game";
            bindings = <
                // ------------------------------------------------------------------------------------------------------
                // | ESC  |  1  |  2  |  3  |  4  |  5  |          |  6  |  7  |  8  |  9  |  0  |  `   |
                // | TAB  |  Q  |  W  |  E  |  R  |  T  |          |  Y  |  U  |  I  |  O  |  P  |  -   |
                // | CTRL |  A  |  S  |  D  |  F  |  G  |          |  H  |  J  |  K  |  L  |  ;  |  '   |
                // | SHFT |  Z  |  X  |  C  |  V  |  B  | SPC| ESC|  N  |  M  |  ,  |  .  |  /  |  `   |
                //                     | CTRL| ALT | NAV | SPC |  | TAB |  R  | EXIT| BSPC|
                &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                         &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp GRAVE
                &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T                          &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS
                &kp LCTRL     &kp A         &kp S         &kp D         &kp F         &kp G                          &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SQT
                &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B        &kp SPACE    &kp ESC      &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp GRAVE
                                                              &kp LCTRL     &kp LALT      &mo NAV      &kp SPACE     &kp TAB      &kp R         &to 0         &kp BSPC
            >;
        };

        extra_2 { status = "reserved"; };
        extra_3 { status = "reserved"; };
    };
};
